.filter-btn {
    border: 1px solid #F76E11;
    padding: 7px 25px;
    background: transparent;
    margin-left: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.menu__title {
    color: #f5b70a;
}

.active__btn {
    background: #F76E11;
}


@media only screen and (max-width: 992px) {

    .menu__title {
        font-size: 1.4rem;
    }

    .filter-btn {
        padding: 5px 20px;
        font-size: 0.8rem;
    }
}


@media only screen and (max-width: 767px) {

    .filter-btn {
        margin-bottom: 15px;
    }
}