.single__product {
    background: var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;
    animation: animate 1s ease-in;
}

.single__product:hover {
    box-shadow: 5px 5px 10px -5px var(--primary-color);
}

.product__content {
    padding: 0px 20px;
    padding-bottom: 15px;
}

.product__content h6 {
    color: var(--primary-color);
    text-align: center;
}

.rating span i {
    color: var(--btn-color);
}

.rating {
    margin-bottom: 10px;
}

.price {
    color: var(--default-color);
}

.price span {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.shopping__icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@keyframes animate {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


@media only screen and (max-width: 767px) {

    .product__content h6 {
        font-size: 0.9rem;
    }

    .price {
        font-size: 0.8rem;
    }

    .price span {
        font-size: 0.9rem;
    }
}