.app__container {
    background: var(--primary-color);
    border-radius: 10px;
}

.app__img {
    margin-bottom: 0px;
}

.app__container h5 {
    color: var(--secondary-color);
}

.app__container h2 {
    color: var(--secondary-color);
    font-weight: 600;
    padding-right: 1px;
}

.app__content {
    padding-top: 50px;
}

.app__content p {
    color: unset;
}

.btn__apple {
    background: var(--body-dark);
    border: none;
    color: var(--body-light);
    padding: 7px 15px;
    border-radius: 5px;

}

.btn__google {
    background: var(--body-light);
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    color: var(--body-dark);

}

.btn__google i {
    color: #3a3a3a;
}

@media only screen and (max-width: 992px) {

    .app__img img {
        width: 100%;
    }

    .app__content h5 {
        font-size: 1rem;
    }

    .app__content h2 {
        font-size: 1.5rem;
    }

    .app__content p {
        font-size: 0.7rem;
        line-height: 25px;
    }

    .btn__apple,
    .btn__google {
        padding: 5px 20px;
        font-size: 0.8rem;
    }

    .app__content{
        padding-bottom: 70px;
    }
}



@media only screen and (max-width: 768px) {

    .app__content {
        padding: 30px;
    }

    .app__img {
        margin-bottom: 0;
    }
}