.header {
    width: 100%;
    height: 90px;
    line-height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: var(--secondary-color);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    width: 90px;
    height: 90px;
}

.nav__list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    list-style: none;
    column-gap: 2.7rem;
}

.nav__item a {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}

.nav__item a:hover {
    color: var(--btn-color);
}

.custom__search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 35px;
    height: 35px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    filter: brightness(90%);
}

.custom__search input {
    border: none;
    outline: none;
    background: transparent;
    height: 25px;
    color: unset;
}

.custom__search i {
    border: none;
    outline: none;
    background: transparent;
    height: 25px;
    color: var(--body-light);
}

.custom__search ::placeholder {
    border: none;
    outline: none;
    background: transparent;
    height: 25px;
    color: var(--body-light);
}

.custom__search span i {
    cursor: pointer;
}

.mobile__menu span i {
    font-size: 1.3rem;
}

.mobile__menu {
    display: none;
}

.user__btn {
    position: relative;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    height: 35px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    filter: brightness(90%);
    border: none;
}

.cart__icon {
    position: relative;
    z-index: 999;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    background: var(--btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--body-light);
}

.badge {
    position: absolute;
    top: -2px;
    right: -3px;
    z-index: 1000;
    color: var(--secondary-color);
    font-size: .8rem;
    font-weight: 700;
}

.ri-sun-line {
    color: #f0f8ff;
}

.ri-moon-line {
    color: #040D12;
}

/* RESPONSIVE */

@media only screen and (max-width:992px) {

    .nav__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: var(--tertiary-color);
        display: none;
    }

    .nav__list__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        z-index: 100;
        background: var(--secondary-color);
        flex-direction: column;
        box-shadow: 5px 5px 15px -5px var(--primary-color);
        justify-content: center !important;
        padding: 0px 20px;
    }

    .nav__list {
        flex-direction: column;
        padding: 0;
    }

    .nav__item a {
        font-size: .9rem;
    }


    .header {
        margin-top: 0;
        line-height: 40px;
        height: 60px;
        padding: 0px 0px;
    }

    .custom__search {
        border: 1px solid var(--p-color);
        padding: 5px 15px;
        font-size: 0.9rem;
        height: 30px;
        margin-top: 15px;
    }

    .mobile__menu {
        display: block;
    }

    .logo {
        display: flex;
        line-height: 60px;
        height: 60px;
        margin-top: 0;
    }

    .cart__menu {
        justify-items: right;
    }

    .active__menu {
        display: block;
    }
}