/* =========== google fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

/* ======== base style ======= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-light: #f0f8ff;
  --body-dark: #040D12;
  --primary-color: #882222;
  --secondary-color: #E9B824;
  --btn-color: #ca2812;
}


#light {
  background-color: var(--body-light);
  color: var(--body-dark);
}

#dark {
  background-color: var(--body-dark);
  color: var(--body-light);
}

section,
footer {
  padding: 70px 0px;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

p {
  font-size: 1rem;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  color: var(--body-light);
}

@media only screen and (max-width: 767px) {

  section {
    padding: 40px 0px;
  }
}